
<link rel="stylesheet" href="/ejs.css">


<h1>You love to eat <%= thingVar %>!!</h1>
<% if (thingVar === 'challah') { %>
<p>Challah is very nutritious and Jewish!</p>    
<%} else { %>
<p>This is not the item that we were anticiptating!</p>
<% } %>
