<% include partials/header%>

<h1>This is the home page for eating apples.</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkW2Za1mjQ5ag1mdS7eqYbHTexHRK7vn2BM09cYzqrDuzLQhne">
<p>Here is a beautiful crunchy mouthwatering apple!!</p>
<% include partials/footer%>