<% include partials/header %>
<h1>This is the Home Page of YelpCamp.com!!!</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa-wHI5IFkKUZbmlt9mbXMtUpsOQFh-BGzsJc7vpwnD74VzqMPPw">
<p>This page is for finding campgrounds. <a href=http://localhost:3000/campgrounds>Click here to see all of our lovely campgrounds!!</a></p>

<% include partials/footer %>