<% include partials/header %>
<h2>This is <strong>the</strong> place to add your favorite campground<br> and share it with the world!</h2>
<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Campground name here">
    <input type="text" name="image" placeholder="Campground image here">
    <input type="Submit" placeholder="Add your Campground!">
</form>
<br>
<br>
<br>
<p><a href="/campgrounds">Return to all campgrounds page.</a> </p>
<br>
<br>
<br>
<br>
<br>
<br>

<% include partials/footer %>